@using FirstZX.Datalayer.Entities.User
@model FirstZX.Datalayer.Entities.User.User

@{
    ViewData["Title"] = "CreateUserForAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<hr />
<div class="container">
    <div class="main-body">
        <h2>Create User For Admin</h2>

        <div class="align-items-center">
            <form asp-action="CreateUserForAdmin">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserAvatar" class="control-label"></label>
                    <input asp-for="UserAvatar" class="form-control" value="Default.png" />
                    <span asp-validation-for="UserAvatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegisterDate" class="control-label"></label>
                    <input asp-for="RegisterDate" class="form-control" />
                    <span asp-validation-for="RegisterDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentifireEmail" class="control-label"></label>
                    <input asp-for="IdentifireEmail" class="form-control" />
                    <span asp-validation-for="IdentifireEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentifireKey" class="control-label"></label>
                    <input asp-for="IdentifireKey" class="form-control" />
                    <span asp-validation-for="IdentifireKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DigitalWalletId" class="control-label"></label>
                    <input asp-for="DigitalWalletId" class="form-control" />
                    <span asp-validation-for="DigitalWalletId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidId" class="control-label"></label>
                    <input asp-for="ValidId" class="form-control" />
                    <span asp-validation-for="ValidId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <br />
                <div class="p-2 form-group- border ">
                    <label class="control-label"> Role </label>


                    @foreach (var item in ViewBag.Roles)
                    {
                        <div class="checkbox">
                            <input type="checkbox" name="SelectedRole" value="@item.RoleId" />@item.RoleTitle
                        </div>
                    }

                </div>
                <br />
                <div class="d-grid">
                    <button type="submit" class="btn  btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
