@model FirstZX.Datalayer.Entities.User.User
@{
    ViewData["Title"] = "Success Register";
}


<div class="alert alert-success" style="margin-top: 100px" >
    <strong>Success!</strong> hello dear @Model.LastName
    <p>Your Reset Password Link  has been sent Check your Email
    </p>
</div>