@model FirstZX.Datalayer.Entities.User.User
@{
    ViewData["Title"] = "Success Register";
}


<div class="alert alert-success" style="margin-top: 100px" >
    <strong>Success!</strong> hello dear @Model.LastName
    <p>Your registration has been completed. An activation email has been sent. Please check your email
    </p>
</div>

