@model FirstZX.Datalayer.Entities.User.User
<div style="padding: 20px">
    <h2>@Model.LastName</h2>
    <p>
        Click on the link below to Change Password
    </p>
    <p>
        <a href="https://vo.professionalta.com/Account/ResetPasword/@Model.ActiveCode">Change Password</a>
    </p>
</div>