
@model FirstZX.Core.DTO.EditeProfileViewModel

@{
    ViewData["Title"] = "EditeProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditeProfile</h2>

<br />
<br />
<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <partial name="_sideUserpanel" />
            <div class="col-md-8">
                <div asp-validation-summary="All"></div>
                <form asp-action="EditeProfile" method="post" enctype="multipart/form-data">
                    @if (ViewBag.IsSuccess != null)
                    {
                        <div class="alert alert-success"> Saved </div>
                    }

                    <div>
                        <input asp-for="UserAvatar" type="hidden" />
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="FirstName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="LastName" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Country</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Country" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Valid Id</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="ValidId" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Digital Wallet Id</h6>
                                </div>
                                @if (string.IsNullOrEmpty(Model.DigitalWalletId))
                                {
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="DigitalWalletId" type="text" class="form-control">
                                    </div>
                                }
                                else
                                {
                                    <input  asp-for="DigitalWalletId" type="hidden" class="form-control">
                                    <div class="col-sm-9 text-secondary">
                                        <label asp-for="DigitalWalletId" type="text" class="form-control">@Model.DigitalWalletId</label>
                                    </div>
                                }
                            </div>



                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile Photo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="file" asp-for="UserAvatarFormFile" class="form-control" id="customFile" />
                                </div>
                            </div>



                            <div class="d-grid">
                                <button type="submit" class="btn  btn-primary btn-block">Save</button>
                            </div>

                        </div>
                    </div>






                </form>


            </div>
        </div>

    </div>
</div>